

.light-theme {
  --main-heading: '#1e2125';
  --para-clr: '#333';
  --btn-bg-clr: '#1e2125';
  --btn-text-clr: '#fff';
  --bg-clr: '#ecf0f3'
}

.dark-theme {
  --main-heading: '#fff';
  --para-clr: '#fff';
  --btn-bg-clr: '#1e2125';
  --btn-text-clr: '#fff';
  --bg-clr: '#1e2125'
}
.App {
  background-color: var(--bg-clr);
}
h1 {
  color: var(--main-heading);
}
p {
  color: var(--para-clr);
}
button {
  background-color: var(--btn-bg-clr);
  color: var(--btn-text-clr);
}


