@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf0f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
.dark-theme {
    --main-heading: '#fff';
    --para-color: '#fff';
    --btn-bg-color: '#1e2125';
    --btn-text-color: '#fff';
    --bg-color: '#1e2125'
}

.light-theme {
    --main-heading: '#1e2125';
    --para-color: '#333';
    --btn-bg-color: '#1e2125';
    --btn-text-color: '#fff';
    --bg-color: '#ecf0f3'
}

h1 {
    color: var(--main-heading);
}
p {
    color: var(--para-color);
}
button {
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
} */